Repository apache/libcloud, pull requests merged in 2019-06, with the labels that each got.

#1296 Fix GCE driver so it also supports "SUSPENDED" node state
  CHANGES.rst
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/fixtures/gce/aggregated_instances.json
  libcloud/test/compute/test_gce.py
Labels: bug fix, compute

#1295 Fix error getting floating ip instance_id
  libcloud/compute/drivers/openstack.py
Labels: bug fix, compute

#1294 [LIBCLOUD-851] Fix azure_blobs driver with BlobStorage account
  libcloud/common/azure.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/test/storage/fixtures/azure_blobs/list_containers_1.xml
  libcloud/test/storage/fixtures/azure_blobs/list_containers_2.xml
  libcloud/test/storage/fixtures/azure_blobs/list_containers_empty.xml
  libcloud/test/storage/fixtures/azure_blobs/list_objects_1.xml
  libcloud/test/storage/fixtures/azure_blobs/list_objects_2.xml
  libcloud/test/storage/fixtures/azure_blobs/list_objects_empty.xml
Labels: api: storage, drivers: azure

#1299 Add test for changed made in PR #1295
  libcloud/test/compute/fixtures/openstack_v1.1/_v2_0__floatingips.json
  libcloud/test/compute/test_openstack.py
Labels: tests

#1244 [LIBCLOUD-1017] Improvements to Azure ARM compute driver
  libcloud/compute/drivers/azure_arm.py
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_providers_Microsoft_Network_networkInterfaces.json
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_providers_Microsoft_Network_virtualnetworks.json
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_resourceGroups_000000_providers_Microsoft_Compute_virtualMachines_test_node_1.json
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_resourceGroups_REVIZOR_providers_Microsoft_Network_networkInterfaces_test_nic.json
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_resourceGroups_REVIZOR_providers_Microsoft_Network_virtualNetworks_test_network_CheckIPAddressAvailability.json
  libcloud/test/compute/test_azure_arm.py
Labels: api: compute, drivers: azure
