Repository apache/libcloud, pull requests merged in 2019-11, with the labels that each got.

#1361 typo cinde -> cinder
  libcloud/compute/drivers/openstack.py
Labels: api: compute, drivers: openstack

#1363 OpenStack v2 create_volume can create bootable vol
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1362 openstack driver can create node from bootable vol
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1371 Move S3 driver to single driver class + "region" constructor argument model
  .travis.yml
  CHANGES.rst
  contrib/generate_provider_feature_matrix_table.py
  docs/compute/_supported_methods_block_storage.rst
  docs/compute/_supported_methods_image_management.rst
  docs/compute/_supported_methods_key_pair_management.rst
  docs/compute/_supported_methods_main.rst
  docs/compute/_supported_providers.rst
  docs/dns/_supported_methods.rst
  docs/dns/_supported_providers.rst
  docs/loadbalancer/_supported_methods.rst
  docs/storage/_supported_methods_cdn.rst
  docs/storage/_supported_methods_main.rst
  docs/storage/_supported_providers.rst
  docs/upgrade_notes.rst
  libcloud/storage/drivers/digitalocean_spaces.py
  libcloud/storage/drivers/rgw.py
  libcloud/storage/drivers/s3.py
  libcloud/storage/providers.py
  libcloud/storage/types.py
  libcloud/test/storage/test_s3.py
  setup.py
  tox.ini
Labels: api: storage, drivers: aws s3

#1372 Fix Azure compute driver to allow adding maximum number of disks when LUN is unspecified
  libcloud/compute/drivers/azure_arm.py
  libcloud/test/compute/test_azure_arm.py
Labels: api: compute, drivers: azure, status: needs tests

#1306 Add Python type annotation for base Compute API
  .gitignore
  CHANGES.rst
  example_compute.py
  libcloud/common/aws.py
  libcloud/common/azure.py
  libcloud/common/azure_arm.py
  libcloud/common/base.py
  libcloud/common/brightbox.py
  libcloud/common/buddyns.py
  libcloud/common/dimensiondata.py
  libcloud/common/dnspod.py
  libcloud/common/durabledns.py
  libcloud/common/google.py
  libcloud/common/gridscale.py
  libcloud/common/hostvirtual.py
  libcloud/common/liquidweb.py
  libcloud/common/luadns.py
  libcloud/common/nsone.py
  libcloud/common/nttcis.py
  libcloud/common/openstack.py
  libcloud/common/openstack_identity.py
  libcloud/common/ovh.py
  libcloud/common/types.py
  libcloud/common/vultr.py
  libcloud/common/xmlrpc.py
  libcloud/compute/base.py
  libcloud/compute/deployment.py
  libcloud/compute/drivers/ec2.py
  libcloud/compute/providers.py
  libcloud/compute/ssh.py
  libcloud/compute/types.py
  libcloud/pricing.py
  libcloud/storage/base.py
  libcloud/storage/drivers/cloudfiles.py
  libcloud/test/compute/test_types.py
  libcloud/utils/loggingconnection.py
  libcloud/utils/misc.py
  mypy.ini
  setup.py
  tox.ini
Labels: mypy, type annotations

#1375 Promote start node and stop node methods to standard Libcloud compute API
  CHANGES.rst
  contrib/generate_provider_feature_matrix_table.py
  docs/compute/_supported_methods_main.rst
  docs/storage/_supported_methods_cdn.rst
  docs/storage/_supported_methods_main.rst
  docs/storage/_supported_providers.rst
  docs/upgrade_notes.rst
  libcloud/compute/base.py
  libcloud/compute/drivers/azure_arm.py
  libcloud/compute/drivers/cloudscale.py
  libcloud/compute/drivers/cloudsigma.py
  libcloud/compute/drivers/dimensiondata.py
  libcloud/compute/drivers/ec2.py
  libcloud/compute/drivers/ecs.py
  libcloud/compute/drivers/gce.py
  libcloud/compute/drivers/gridscale.py
  libcloud/compute/drivers/hostvirtual.py
  libcloud/compute/drivers/joyent.py
  libcloud/compute/drivers/libvirt_driver.py
  libcloud/compute/drivers/linode.py
  libcloud/compute/drivers/maxihost.py
  libcloud/compute/drivers/nephoscale.py
  libcloud/compute/drivers/nttcis.py
  libcloud/compute/drivers/openstack.py
  libcloud/compute/drivers/packet.py
  libcloud/compute/drivers/profitbricks.py
  libcloud/compute/drivers/softlayer.py
  libcloud/compute/drivers/vsphere.py
  requirements-tests.txt
  tox.ini
Labels: api: compute
