Repository apache/libcloud, pull requests merged in 2019-08, with the labels that each got.

#1329 Throw more user-friendly exception in EC2 driver on invalid request parameter type
  CHANGES.rst
  libcloud/common/aws.py
  libcloud/compute/drivers/ec2.py
  libcloud/test/compute/test_ec2.py
Labels: api: compute, drivers: ec2

#1320 Fix error in ex_update_port function with missing data parameter: #1319
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1325 Specify minimum requests version
  CHANGES.rst
  setup.py
Labels: api: storage, bug fix, drivers: azure

#1331 Add function to remove a security group from a node in OpenStack driver #1330
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1323 Add Gandi LiveDNS driver
  libcloud/common/gandi_live.py
  libcloud/dns/drivers/gandi_live.py
  libcloud/test/common/test_gandi_live.py
  libcloud/test/dns/fixtures/gandi_live/create_bad_zone.json
  libcloud/test/dns/fixtures/gandi_live/create_domain.json
  libcloud/test/dns/fixtures/gandi_live/create_existing_record.json
  libcloud/test/dns/fixtures/gandi_live/create_record.json
  libcloud/test/dns/fixtures/gandi_live/create_zone.json
  libcloud/test/dns/fixtures/gandi_live/delete_gandi_zone.json
  libcloud/test/dns/fixtures/gandi_live/delete_record.json
  libcloud/test/dns/fixtures/gandi_live/get_bad_zone.json
  libcloud/test/dns/fixtures/gandi_live/get_mx_record.json
  libcloud/test/dns/fixtures/gandi_live/get_nonexistent_record.json
  libcloud/test/dns/fixtures/gandi_live/get_nonexistent_zone.json
  libcloud/test/dns/fixtures/gandi_live/get_record.json
  libcloud/test/dns/fixtures/gandi_live/get_zone.json
  libcloud/test/dns/fixtures/gandi_live/list_records.json
  libcloud/test/dns/fixtures/gandi_live/list_records_bind.txt
  libcloud/test/dns/fixtures/gandi_live/list_zones.json
  libcloud/test/dns/fixtures/gandi_live/update_bad_record.json
  libcloud/test/dns/fixtures/gandi_live/update_gandi_zone.json
  libcloud/test/dns/fixtures/gandi_live/update_mx_record.json
  libcloud/test/dns/fixtures/gandi_live/update_record.json
  libcloud/test/dns/test_gandi_live.py
  libcloud/test/secrets.py-dist
Labels: api: dns, drivers: gandi live

#1337 Fix proxy_url error #1336
  libcloud/common/openstack_identity.py
  libcloud/test/common/test_openstack_identity.py
Labels: api: compute, bug fix, drivers: openstack

#1335 Set Softlayer create_node hourly value as boolean to pass to SL API
  libcloud/compute/drivers/softlayer.py
  libcloud/test/compute/test_softlayer.py
Labels: api: compute, bug fix, drivers: softlayer

#1339 Various fixes for the Backblaze B2 driver
  CHANGES.rst
  docs/examples/storage/backblaze_b2/instantiate.py
  docs/storage/drivers/backblaze_b2.rst
  libcloud/storage/drivers/backblaze_b2.py
  libcloud/test/storage/test_backblaze_b2.py
  libcloud/utils/loggingconnection.py
Labels: api: storage, bug fix, drivers: backblaze b2

#1340 Update Azure Blob Storage API version to 2016-05-31
  CHANGES.rst
  libcloud/common/azure.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/test/common/test_azure.py
  libcloud/test/storage/fixtures/azure_blobs/list_objects_1.xml
  libcloud/test/storage/fixtures/azure_blobs/list_objects_2.xml
Labels: api: storage, drivers: azure

#1343 Add missing cpu platform field to GCE driver
  libcloud/compute/drivers/gce.py
Labels: api: compute, drivers: gce

#1328 powerdns driver adapted to work with pdns 3 and 4
  libcloud/dns/drivers/powerdns.py
Labels: api: dns, drivers: powerdns, status: needs tests
