Repository apache/libcloud, pull requests merged in 2019-07, with the labels that each got.

#1300 ec2 list_volumes should accept more filters
  libcloud/compute/drivers/ec2.py
  libcloud/test/compute/test_ec2.py
Labels: api: compute, drivers: ec2

#1304 add new gce image families
  libcloud/compute/drivers/gce.py
Labels: api: compute, drivers: gce

#1301 Add ability to resize volume in GCE
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/fixtures/gce/operations_operation_zones_us-central1-a_disks_lcdisk_resize_post.json
  libcloud/test/compute/fixtures/gce/zones_us-central1-a_disks_lcdisk_resize_post.json
  libcloud/test/compute/test_gce.py
Labels: api: compute, drivers: gce

#1308 pylint improvements and pylint support for libcloud/compute/ directory
  CHANGES.rst
  libcloud/compute/base.py
  libcloud/compute/drivers/__init__.py
  libcloud/compute/drivers/azure.py
  libcloud/compute/drivers/azure_arm.py
  libcloud/compute/drivers/bluebox.py
  libcloud/compute/drivers/cloudstack.py
  libcloud/compute/drivers/ec2.py
  libcloud/compute/drivers/elastichosts.py
  libcloud/compute/drivers/elasticstack.py
  libcloud/compute/drivers/gandi.py
  libcloud/compute/drivers/gce.py
  libcloud/compute/drivers/libvirt_driver.py
  libcloud/compute/drivers/linode.py
  libcloud/compute/drivers/openstack.py
  libcloud/compute/drivers/ovh.py
  libcloud/compute/drivers/scaleway.py
  libcloud/compute/drivers/vcloud.py
  libcloud/compute/drivers/voxel.py
  libcloud/compute/drivers/vsphere.py
  libcloud/compute/drivers/vultr.py
  pylint_plugins/__init__.py
  pylint_plugins/driver_class.py
  tox.ini
Labels: pylint

#1310 Add Github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

#1311 Fix error in resize function in OpenStack driver #1309
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/test_openstack.py
Labels: api: compute, bug fix, drivers: openstack

#1312 Add a note on linking ASF and Github account to committer on-boarding docs
  docs/committer_guide.rst
Labels: documentation

#1313 Add config for stale bot Github integration
  .github/stale.yml
Labels: integrations: github

#1278 [LIBCLOUD-1037] Add Azurite support for Azure Blob Storage driver
  CHANGES.rst
  docs/examples/storage/azure/instantiate_azurite.py
  docs/storage/drivers/azure_blobs.rst
  libcloud/storage/drivers/azure_blobs.py
  libcloud/test/secrets.py-dist
  libcloud/test/storage/fixtures/azurite_blobs/list_containers_1.xml
  libcloud/test/storage/fixtures/azurite_blobs/list_containers_2.xml
  libcloud/test/storage/fixtures/azurite_blobs/list_containers_empty.xml
  libcloud/test/storage/fixtures/azurite_blobs/list_objects_1.xml
  libcloud/test/storage/fixtures/azurite_blobs/list_objects_2.xml
  libcloud/test/storage/fixtures/azurite_blobs/list_objects_empty.xml
  libcloud/test/storage/test_azure_blobs.py
Labels: api: storage, drivers: azure

#1314 Add support for https proxies
  CHANGES.rst
  docs/examples/http_proxy/constructor_argument.py
  docs/examples/http_proxy/https_proxy.py
  docs/examples/http_proxy/set_http_proxy_method.py
  docs/other/using-http-proxy.rst
  libcloud/common/base.py
  libcloud/http.py
  libcloud/test/test_connection.py
  libcloud/utils/loggingconnection.py
Labels: api: common, api: http layer

#1292 [LIBCLOUD-1001] Update Cloudflare DNS driver to API v4
  CHANGES.rst
  docs/dns/_supported_methods.rst
  docs/dns/drivers/cloudflare.rst
  libcloud/dns/drivers/cloudflare.py
  libcloud/test/dns/fixtures/cloudflare/ban.json
  libcloud/test/dns/fixtures/cloudflare/cache_lvl.json
  libcloud/test/dns/fixtures/cloudflare/devmode.json
  libcloud/test/dns/fixtures/cloudflare/fpurge_ts.json
  libcloud/test/dns/fixtures/cloudflare/ip_lkup.json
  libcloud/test/dns/fixtures/cloudflare/ipv46.json
  libcloud/test/dns/fixtures/cloudflare/memberships_GET.json
  libcloud/test/dns/fixtures/cloudflare/nul_.json
  libcloud/test/dns/fixtures/cloudflare/rec_delete.json
  libcloud/test/dns/fixtures/cloudflare/rec_edit.json
  libcloud/test/dns/fixtures/cloudflare/rec_load_all.json
  libcloud/test/dns/fixtures/cloudflare/rec_new.json
  libcloud/test/dns/fixtures/cloudflare/record_DELETE.json
  libcloud/test/dns/fixtures/cloudflare/record_GET.json
  libcloud/test/dns/fixtures/cloudflare/record_GET_400.json
  libcloud/test/dns/fixtures/cloudflare/record_GET_404.json
  libcloud/test/dns/fixtures/cloudflare/record_PUT.json
  libcloud/test/dns/fixtures/cloudflare/records_GET_1.json
  libcloud/test/dns/fixtures/cloudflare/records_GET_2.json
  libcloud/test/dns/fixtures/cloudflare/records_POST.json
  libcloud/test/dns/fixtures/cloudflare/sec_lvl.json
  libcloud/test/dns/fixtures/cloudflare/stats.json
  libcloud/test/dns/fixtures/cloudflare/wl.json
  libcloud/test/dns/fixtures/cloudflare/zone_DELETE.json
  libcloud/test/dns/fixtures/cloudflare/zone_GET.json
  libcloud/test/dns/fixtures/cloudflare/zone_GET_400.json
  libcloud/test/dns/fixtures/cloudflare/zone_GET_404.json
  libcloud/test/dns/fixtures/cloudflare/zone_PATCH.json
  libcloud/test/dns/fixtures/cloudflare/zone_check.json
  libcloud/test/dns/fixtures/cloudflare/zone_file_purge.json
  libcloud/test/dns/fixtures/cloudflare/zone_load_multi.json
  libcloud/test/dns/fixtures/cloudflare/zone_settings.json
  libcloud/test/dns/fixtures/cloudflare/zones_GET.json
  libcloud/test/dns/fixtures/cloudflare/zones_POST.json
  libcloud/test/dns/test_cloudflare.py
Labels: api: dns, drivers: cloudflare

#1315 Various Gridscale driver and paramiko SSH client improvements
  CHANGES.rst
  docs/compute/_supported_methods_key_pair_management.rst
  docs/compute/deployment.rst
  docs/compute/drivers/gridscale.rst
  docs/examples/compute/gridscale/create_node.py
  docs/examples/compute/gridscale/deploy_node.py
  libcloud/__init__.py
  libcloud/common/gridscale.py
  libcloud/compute/base.py
  libcloud/compute/drivers/gridscale.py
  libcloud/compute/ssh.py
  libcloud/test/compute/fixtures/gridscale/ex_list_ips.json
  libcloud/test/compute/fixtures/misc/test_dsa.key
  libcloud/test/compute/fixtures/misc/test_dsa_non_paramiko_recognized_header.key
  libcloud/test/compute/fixtures/misc/test_ecdsa.key
  libcloud/test/compute/fixtures/misc/test_ecdsa_non_paramiko_recognized_header.key
  libcloud/test/compute/fixtures/misc/test_rsa.key
  libcloud/test/compute/fixtures/misc/test_rsa.pub
  libcloud/test/compute/fixtures/misc/test_rsa_non_paramiko_recognized_header.key
  libcloud/test/compute/fixtures/misc/test_rsa_non_pem_format.key
  libcloud/test/compute/fixtures/misc/test_rsa_non_pem_format.pub
  libcloud/test/compute/test_ec2.py
  libcloud/test/compute/test_gridscale.py
  libcloud/test/compute/test_openstack.py
  libcloud/test/compute/test_ssh_client.py
  libcloud/test/test_init.py
  tox.ini
Labels: api: compute, api: compute: ssh, drivers: gridscale

#1230 Oneandone compute driver firewall improvements
  docs/compute/drivers/oneandone.rst
  docs/examples/compute/oneandone/create_firewall_policy.py
  libcloud/compute/drivers/oneandone.py
  libcloud/test/compute/test_oneandone.py
Labels: api: compute, drivers: oneandone

#1316 Add build check which verifies source code contain ASF 2.0 license header
  demos/example_openstack.py
  integration/__main__.py
  libcloud/common/luadns.py
  libcloud/common/maxihost.py
  libcloud/common/nsone.py
  libcloud/common/onapp.py
  libcloud/common/vultr.py
  libcloud/compute/__init__.py
  libcloud/compute/constants.py
  libcloud/compute/drivers/maxihost.py
  libcloud/compute/drivers/onapp.py
  libcloud/container/drivers/gke.py
  libcloud/dns/drivers/luadns.py
  libcloud/storage/__init__.py
  libcloud/test/compute/test_gce.py
  libcloud/test/compute/test_maxihost.py
  libcloud/test/compute/test_nttcis.py
  libcloud/test/compute/test_onapp.py
  libcloud/test/compute/test_types.py
  libcloud/test/conftest.py
  libcloud/test/dns/test_buddyns.py
  libcloud/test/dns/test_dnsimple.py
  libcloud/test/dns/test_dnspod.py
  libcloud/test/dns/test_luadns.py
  libcloud/test/dns/test_nsone.py
  libcloud/test/loadbalancer/test_cloudstack.py
  libcloud/test/loadbalancer/test_ninefold.py
  libcloud/test/storage/test_dummy.py
  scripts/check_asf_license_headers.py
  tox.ini
Labels: ci/cd, lint checks, travis ci

#1324 Fix proxy url
  CHANGES.rst
  docs/examples/http_proxy/constructor_argument.py
  docs/other/using-http-proxy.rst
  libcloud/common/openstack.py
  libcloud/common/openstack_identity.py
  libcloud/http.py
  libcloud/test/test_connection.py
Labels: api: common, api: http layer

#1326 Fix hash validation with stream uploads
  CHANGES.rst
  libcloud/storage/base.py
  libcloud/test/storage/test_cloudfiles.py
Labels: api: storage, bug fix, drivers: cloudflare
