Repository apache/libcloud, pull requests merged in 2019-12, with the labels that each got.

#1376 Label support for GCP volumes
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/fixtures/gce/aggregated_disks.json
  libcloud/test/compute/fixtures/gce/operations_operation_zones_us-central1-a_disks_lcdisk_setLabels_post.json
  libcloud/test/compute/fixtures/gce/zones_us-central1-a_disks_lcdisk_setLabel_post.json
  libcloud/test/compute/test_gce.py
Labels: api: compute, drivers: gce

#1380 Fix attach and detach volume for Digital Ocean. Volume name instead of id is needed
  libcloud/compute/drivers/digitalocean.py
Labels: api: compute, drivers: digitalocean

#1388 Correct disk_size parameter support for create_node
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/test_gce.py
Labels: api: compute, drivers: gce

#1391 Fix a regression with "get_driver()" function not working with string values
  CHANGES.rst
  libcloud/common/providers.py
  libcloud/test/test_utils.py
Labels: api: common

#1389 Reduce reliance on **kwargs in "create_node()" methods
  CHANGES.rst
  libcloud/common/upcloud.py
  libcloud/compute/base.py
  libcloud/compute/drivers/abiquo.py
  libcloud/compute/drivers/bluebox.py
  libcloud/compute/drivers/brightbox.py
  libcloud/compute/drivers/cloudscale.py
  libcloud/compute/drivers/cloudsigma.py
  libcloud/compute/drivers/cloudstack.py
  libcloud/compute/drivers/dummy.py
  libcloud/compute/drivers/ec2.py
  libcloud/compute/drivers/ecp.py
  libcloud/compute/drivers/elasticstack.py
  libcloud/compute/drivers/gandi.py
  libcloud/compute/drivers/gogrid.py
  libcloud/compute/drivers/hostvirtual.py
  libcloud/compute/drivers/joyent.py
  libcloud/compute/drivers/ktucloud.py
  libcloud/compute/drivers/linode.py
  libcloud/compute/drivers/opennebula.py
  libcloud/compute/drivers/openstack.py
  libcloud/compute/drivers/rimuhosting.py
  libcloud/compute/drivers/softlayer.py
  libcloud/compute/drivers/upcloud.py
  libcloud/compute/drivers/vcl.py
  libcloud/compute/drivers/vcloud.py
  libcloud/compute/drivers/voxel.py
  libcloud/compute/drivers/vpsnet.py
  libcloud/test/compute/test_abiquo.py
  libcloud/test/compute/test_deployment.py
  libcloud/test/compute/test_ec2.py
  libcloud/test/compute/test_openstack.py
  libcloud/test/compute/test_softlayer.py
  libcloud/test/compute/test_vcloud.py
  libcloud/test/compute/test_voxel.py
  tox.ini
Labels: api: compute, api: compute: ssh

#1387 GCENodeDriver's deploy_node() now accepts Deployments as well as all the parameters accepted by create_node()
  libcloud/compute/drivers/gce.py
Labels: api: compute, api: compute: ssh, drivers: gce

#1393 Fix wheel METADATA and ensure conditional dependencies are handled correctly
  .travis.yml
  CHANGES.rst
  docs/committer_guide.rst
  setup.py
  tox.ini
Labels: build
