Repository apache/libcloud, pull requests merged in 2020-03, with the labels that each got.

#1434 Add type annotations for the base DNS API
  CHANGES.rst
  example_compute.py
  libcloud/common/types.py
  libcloud/compute/types.py
  libcloud/dns/base.py
  libcloud/dns/providers.py
  libcloud/dns/types.py
  mypy.ini
  tox.ini
Labels: api: dns, mypy, type annotations

#1435 Add type annotations for the base container API
  CHANGES.rst
  libcloud/container/base.py
  libcloud/container/providers.py
  libcloud/dns/base.py
  mypy.ini
  tox.ini
Labels: api: container, type annotations

#1436 Fill auth_user_info in v3 connection
  CHANGES.rst
  libcloud/common/openstack_identity.py
  libcloud/test/common/test_openstack_identity.py
Labels: api: compute, drivers: openstack

#1440 Only check Google S3 key prefix
  libcloud/common/google.py
  libcloud/test/common/test_google.py
Labels: api: storage, drivers: google storage

#1443 Improve location / zone handling in the GCE driver
  CHANGES.rst
  docs/compute/drivers/gce.rst
  docs/examples/compute/gce/gce_installed_application.py
  docs/examples/compute/gce/gce_internal_auth.py
  docs/examples/compute/gce/gce_service_account.py
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/test_gce.py
Labels: api: compute, drivers: gce

#1437 Implement g8 provider for libcloud
  libcloud/common/gig_g8.py
  libcloud/compute/drivers/gig_g8.py
  libcloud/compute/providers.py
  libcloud/compute/types.py
  libcloud/test/compute/fixtures/gig_g8/POST_cloudspaces_create.json
  libcloud/test/compute/fixtures/gig_g8/POST_cloudspaces_delete.json
  libcloud/test/compute/fixtures/gig_g8/POST_cloudspaces_get.json
  libcloud/test/compute/fixtures/gig_g8/POST_cloudspaces_list.json
  libcloud/test/compute/fixtures/gig_g8/POST_disks_create.json
  libcloud/test/compute/fixtures/gig_g8/POST_disks_delete.json
  libcloud/test/compute/fixtures/gig_g8/POST_disks_get.json
  libcloud/test/compute/fixtures/gig_g8/POST_disks_list.json
  libcloud/test/compute/fixtures/gig_g8/POST_images_list.json
  libcloud/test/compute/fixtures/gig_g8/POST_locations_list.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_attachDisk.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_create.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_delete.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_detachDisk.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_get.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_list.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_reboot.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_start.json
  libcloud/test/compute/fixtures/gig_g8/POST_machines_stop.json
  libcloud/test/compute/fixtures/gig_g8/POST_portforwarding_create.json
  libcloud/test/compute/fixtures/gig_g8/POST_portforwarding_deleteByPort.json
  libcloud/test/compute/fixtures/gig_g8/POST_portforwarding_list.json
  libcloud/test/compute/fixtures/gig_g8/POST_sizes_list.json
  libcloud/test/compute/fixtures/gig_g8/POST_system_usermanager_whoami.json
  libcloud/test/compute/test_gig_g8.py
Labels: api: compute, new driver
