Repository apache/libcloud, pull requests merged in 2020-12, with the labels that each got.

#1522 Fix for apache/libcloud #1521
  libcloud/dns/drivers/auroradns.py
Labels: api: dns, bug fix, drivers: aurora dns

#1519 Optimize and speed up imports in the EC2 driver and elsewhere
  .travis.yml
  CHANGES.rst
  contrib/scrape-ec2-sizes.py
  docs/upgrade_notes.rst
  libcloud/__init__.py
  libcloud/common/types.py
  libcloud/compute/base.py
  libcloud/compute/constants/__init__.py
  libcloud/compute/constants/ec2_instance_types.py
  libcloud/compute/constants/ec2_region_details_complete.py
  libcloud/compute/constants/ec2_region_details_partial.py
  libcloud/compute/drivers/ec2.py
  libcloud/pricing.py
  libcloud/test/compute/test_ec2.py
  libcloud/test/pricing_test.json
  libcloud/test/test_pricing.py
  libcloud/utils/py3.py
  requirements-tests.txt
  scripts/time_imports.sh
  setup.cfg
  tox.ini
Labels: api: compute, drivers: ec2, pricing data

#1511 Packet rebranding to Equinix Metal
  docs/_static/images/provider_logos/equinixmetal.png
  docs/compute/drivers/equinixmetal.rst
  docs/compute/drivers/packet.rst
  docs/examples/compute/equinixmetal/__init__.py
  docs/examples/compute/equinixmetal/instantiate_api_v1.0.py
  docs/upgrade_notes.rst
  libcloud/compute/drivers/equinixmetal.py
  libcloud/compute/providers.py
  libcloud/compute/types.py
  libcloud/test/compute/fixtures/equinixmetal/associate_ip.json
  libcloud/test/compute/fixtures/equinixmetal/attach_volume.json
  libcloud/test/compute/fixtures/equinixmetal/bgp_config_project_1.json
  libcloud/test/compute/fixtures/equinixmetal/bgp_config_project_2.json
  libcloud/test/compute/fixtures/equinixmetal/bgp_config_project_3.json
  libcloud/test/compute/fixtures/equinixmetal/bgp_session_create.json
  libcloud/test/compute/fixtures/equinixmetal/bgp_session_get.json
  libcloud/test/compute/fixtures/equinixmetal/bgp_sessions.json
  libcloud/test/compute/fixtures/equinixmetal/create_volume.json
  libcloud/test/compute/fixtures/equinixmetal/device_create.json
  libcloud/test/compute/fixtures/equinixmetal/device_events.json
  libcloud/test/compute/fixtures/equinixmetal/devices.json
  libcloud/test/compute/fixtures/equinixmetal/devices_for_project.json
  libcloud/test/compute/fixtures/equinixmetal/facilities.json
  libcloud/test/compute/fixtures/equinixmetal/ip_address.json
  libcloud/test/compute/fixtures/equinixmetal/ip_assignments.json
  libcloud/test/compute/fixtures/equinixmetal/node_bandwidth.json
  libcloud/test/compute/fixtures/equinixmetal/operatingsystems.json
  libcloud/test/compute/fixtures/equinixmetal/plans.json
  libcloud/test/compute/fixtures/equinixmetal/project_events.json
  libcloud/test/compute/fixtures/equinixmetal/project_ips.json
  libcloud/test/compute/fixtures/equinixmetal/projects.json
  libcloud/test/compute/fixtures/equinixmetal/reserve_ip.json
  libcloud/test/compute/fixtures/equinixmetal/sshkey_create.json
  libcloud/test/compute/fixtures/equinixmetal/sshkeys.json
  libcloud/test/compute/fixtures/equinixmetal/volumes.json
  libcloud/test/compute/test_equinixmetal.py
  libcloud/test/secrets.py-dist
Labels: api: compute, drivers: equinix metal, drivers: packet, status: needs documentation

#1499 Adding external features to Outscale Provider
  docs/compute/drivers/outscale.rst
  libcloud/compute/drivers/outscale.py
Labels: api: compute, drivers: outscale

#1504 Add support for Linode's API v4
  CHANGES.rst
  libcloud/common/linode.py
  libcloud/compute/drivers/linode.py
  libcloud/dns/drivers/linode.py
  libcloud/test/compute/fixtures/linode_v4/allocate_private_address.json
  libcloud/test/compute/fixtures/linode_v4/attach_volume_to_node.json
  libcloud/test/compute/fixtures/linode_v4/clone_volume.json
  libcloud/test/compute/fixtures/linode_v4/create_disk.json
  libcloud/test/compute/fixtures/linode_v4/create_image.json
  libcloud/test/compute/fixtures/linode_v4/create_node.json
  libcloud/test/compute/fixtures/linode_v4/create_node_no_image.json
  libcloud/test/compute/fixtures/linode_v4/create_volume.json
  libcloud/test/compute/fixtures/linode_v4/create_volume_unattached.json
  libcloud/test/compute/fixtures/linode_v4/ex_get_node.json
  libcloud/test/compute/fixtures/linode_v4/ex_get_volume.json
  libcloud/test/compute/fixtures/linode_v4/ex_rename_node.json
  libcloud/test/compute/fixtures/linode_v4/list_addresses.json
  libcloud/test/compute/fixtures/linode_v4/list_addresses_for_node.json
  libcloud/test/compute/fixtures/linode_v4/list_disks.json
  libcloud/test/compute/fixtures/linode_v4/list_images.json
  libcloud/test/compute/fixtures/linode_v4/list_images_paginated_page_1.json
  libcloud/test/compute/fixtures/linode_v4/list_images_paginated_page_2.json
  libcloud/test/compute/fixtures/linode_v4/list_locations.json
  libcloud/test/compute/fixtures/linode_v4/list_nodes.json
  libcloud/test/compute/fixtures/linode_v4/list_types.json
  libcloud/test/compute/fixtures/linode_v4/list_volumes.json
  libcloud/test/compute/test_linode.py
  libcloud/test/compute/test_linode_v4.py
  libcloud/test/dns/fixtures/linode_v4/create_record.json
  libcloud/test/dns/fixtures/linode_v4/create_zone.json
  libcloud/test/dns/fixtures/linode_v4/get_record_A.json
  libcloud/test/dns/fixtures/linode_v4/get_record_MX.json
  libcloud/test/dns/fixtures/linode_v4/get_zone.json
  libcloud/test/dns/fixtures/linode_v4/list_records.json
  libcloud/test/dns/fixtures/linode_v4/list_zones.json
  libcloud/test/dns/fixtures/linode_v4/update_record.json
  libcloud/test/dns/fixtures/linode_v4/update_zone.json
  libcloud/test/dns/test_linode.py
  libcloud/test/dns/test_linode_v4.py
  libcloud/test/secrets.py-dist
Labels: api: compute, api: dns, drivers: linode

#1525 Storage: Add support for the SFO2 datacenter
  libcloud/storage/drivers/digitalocean_spaces.py
Labels: api: storage, drivers: digitalocean spaces
