Repository apache/libcloud, pull requests merged in 2020-11, with the labels that each got.

#1513 Fix error when creating SSHFP DNS records with CloudFlare
  libcloud/dns/drivers/cloudflare.py
  libcloud/test/dns/test_cloudflare.py
Labels: api: dns, drivers: cloudflare

#1508 digitalocean driver.list_nodes: size and image now is not null
  libcloud/compute/drivers/digitalocean.py
  libcloud/test/compute/fixtures/digitalocean_v2/list_nodes.json
  libcloud/test/compute/test_digitalocean_v2.py
Labels: api: compute, drivers: digitalocean

#1506 allow vultr.list_nodes to return extra values
  contrib/update_vultr_fixtures.sh
  libcloud/compute/drivers/vultr.py
  libcloud/test/compute/fixtures/vultr/create_node.json
  libcloud/test/compute/fixtures/vultr/list_images.json
  libcloud/test/compute/fixtures/vultr/list_locations.json
  libcloud/test/compute/fixtures/vultr/list_nodes.json
  libcloud/test/compute/fixtures/vultr/list_sizes.json
  libcloud/test/compute/test_vultr.py
Labels: api: compute, drivers: vultr

#1505 dns/digitalocean: send attributes in body for PUT and POST operations.
  libcloud/dns/drivers/digitalocean.py
  libcloud/test/dns/fixtures/digitalocean/_v2_domains_UNPROCESSABLE_ENTITY.json
  libcloud/test/dns/test_digitalocean.py
Labels: api: dns, drivers: digitalocean, status: needs tests

#1515 Enable to get Neutron Quota details in OpenStack driver
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/fixtures/openstack_v1.1/_v2_0__network_quota.json
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1517 Add ex_get_size_extra_specs function to OpenStack driver
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/fixtures/openstack_v1.1/_flavor_extra_specs.json
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack
