Repository apache/libcloud, pull requests merged in 2020-05, with the labels that each got.

#1451 Add no cache and Optimize the Dockerfile format
  contrib/Dockerfile
Labels: tests, tests: dockerfile

#1456 Fixes #1455, added location filtering for digitalOcean driver
  libcloud/compute/drivers/digitalocean.py
Labels: api: compute, drivers: digitalocean

#1453 Implement s3 get_object_cdn_url using pre-signed urls
  CHANGES.rst
  libcloud/common/aws.py
  libcloud/storage/drivers/s3.py
  libcloud/test/storage/test_aurora.py
  libcloud/test/storage/test_s3.py
Labels: api: storage, drivers: aws s3

#1457 Don't encode ~ in the object name in the S3 driver
  CHANGES.rst
  libcloud/storage/drivers/s3.py
  libcloud/test/storage/test_s3.py
Labels: api: storage, bug fix, drivers: aws s3, potential 2.8.x candidate

#1459 Fix unicode decode errors during deployments
  CHANGES.rst
  libcloud/compute/ssh.py
  libcloud/test/compute/test_ssh_client.py
Labels: api: compute, api: compute: ssh

#1462 G8driver refreshtoken
  libcloud/common/gig_g8.py
  libcloud/compute/drivers/gig_g8.py
  libcloud/test/compute/test_gig_g8.py
Labels: api: compute, drivers: gig g8, status: needs tests
