Repository apache/libcloud, pull requests merged in 2020-02, with the labels that each got.

#1418 Fix S3 interoperability authentication in the Google Storage driver
  CHANGES.rst
  libcloud/storage/drivers/google_storage.py
  libcloud/test/storage/test_google_storage.py
Labels: api: storage, bug fix, drivers: google storage

#1426 Minor bugfix: ec2 driver create_node ex_userdata broken in tag 2.8
  libcloud/compute/drivers/ec2.py
Labels: api: compute, drivers: ec2

#1429 Fix in the CloudFlare DNS driver
  CHANGES.rst
  libcloud/dns/drivers/cloudflare.py
  libcloud/test/dns/fixtures/cloudflare/records_GET_1.json
  libcloud/test/dns/test_cloudflare.py
Labels: api: dns, drivers: cloudflare, potential 2.8.x candidate

#1427 Ignore "[Errno 29] Illegal seek" errors which may arise when using "upload_object_via_stream" method
  CHANGES.rst
  libcloud/storage/base.py
  libcloud/test/storage/test_base.py
Labels: api: common, api: compute: ssh, api: storage, bug fix, potential 2.8.x candidate

#1430 Fix LIBCLOUD_DEBUG_PRETTY_PRINT_RESPONSE functionality under Python 3
  CHANGES.rst
  libcloud/test/test_logging_connection.py
  libcloud/utils/loggingconnection.py
Labels: api: common, api: common: connection, potential 2.8.x candidate

#1431 Add new base storage API methods for partial (range) object downloads
  CHANGES.rst
  contrib/generate_provider_feature_matrix_table.py
  docs/examples/storage/partial_object_download.py
  docs/storage/_supported_methods_main.rst
  docs/storage/examples.rst
  libcloud/common/azure.py
  libcloud/common/types.py
  libcloud/storage/base.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/storage/drivers/cloudfiles.py
  libcloud/storage/drivers/local.py
  libcloud/storage/drivers/s3.py
  libcloud/test/storage/base.py
  libcloud/test/storage/test_azure_blobs.py
  libcloud/test/storage/test_base.py
  libcloud/test/storage/test_cloudfiles.py
  libcloud/test/storage/test_local.py
  libcloud/test/storage/test_s3.py
Labels: api: storage, drivers: aws s3, drivers: azure blobs, drivers: cloudfiles, drivers: local storage
