Repository apache/libcloud, pull requests merged in 2020-01, with the labels that each got.

#1402 fix curl command
  docs/compute/drivers/ovh.rst
Labels: api: compute, documentation, drivers: ovh

#1398 Support for aws ec2 spot instances
  libcloud/compute/drivers/ec2.py
  libcloud/test/compute/fixtures/ec2/run_instances_spot.xml
  libcloud/test/compute/test_ec2.py
Labels: api: compute, drivers: ec2

#1400 Implemented chunked upload for Azure Blobs storage driver
  CHANGES.rst
  docs/upgrade_notes.rst
  libcloud/storage/base.py
  libcloud/storage/drivers/atmos.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/storage/drivers/s3.py
  libcloud/test/storage/test_atmos.py
  libcloud/test/storage/test_azure_blobs.py
  libcloud/test/storage/test_base.py
  libcloud/utils/files.py
Labels: api: storage, drivers: azure

#1397 Promote `ex_prefix` to top-level storage SDK argument
  CHANGES.rst
  demos/example_aliyun_oss.py
  docs/upgrade_notes.rst
  libcloud/storage/base.py
  libcloud/storage/drivers/atmos.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/storage/drivers/backblaze_b2.py
  libcloud/storage/drivers/cloudfiles.py
  libcloud/storage/drivers/dummy.py
  libcloud/storage/drivers/local.py
  libcloud/storage/drivers/oss.py
  libcloud/storage/drivers/s3.py
  libcloud/test/storage/test_azure_blobs.py
  libcloud/test/storage/test_cloudfiles.py
  libcloud/test/storage/test_dummy.py
  libcloud/test/storage/test_local.py
  libcloud/test/storage/test_oss.py
  libcloud/test/storage/test_s3.py
Labels: api: storage

#1406 Skip object checksum check on upload if server side AWS KMS encryption is used
  CHANGES.rst
  libcloud/storage/drivers/s3.py
  libcloud/test/storage/test_s3.py
Labels: api: storage, bug fix, drivers: aws s3

#1408 Implement SAS URL generation for Azure Storage
  CHANGES.rst
  libcloud/storage/drivers/azure_blobs.py
  libcloud/test/storage/test_azure_blobs.py
Labels: api: storage, drivers: azure

#1410 Add type annotations to storage API
  CHANGES.rst
  libcloud/base.py
  libcloud/common/aws.py
  libcloud/common/openstack.py
  libcloud/storage/base.py
  libcloud/storage/drivers/atmos.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/storage/drivers/backblaze_b2.py
  libcloud/storage/drivers/dummy.py
  libcloud/storage/drivers/local.py
  libcloud/storage/drivers/nimbus.py
  libcloud/storage/drivers/oss.py
  libcloud/storage/drivers/s3.py
  libcloud/storage/providers.py
  mypy.ini
  tox.ini
Labels: api: storage, mypy

#1414 Fix incorrect type annotations in the base compute API
  CHANGES.rst
  libcloud/compute/base.py
Labels: bug fix, mypy, type annotations

#1415 Try fixing Travis CI Windows build
  .travis.yml
Labels: os: windows, travis ci

#1412 Fix error getting node_id in OpenStack_1_1_FloatingIpAddress: #1411
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/fixtures/openstack_v1.1/_v2_0__floatingips.json
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1416 Update Gandi Live DNS driver to match service change
  CHANGES.rst
  libcloud/common/gandi_live.py
  libcloud/test/dns/fixtures/gandi_live/delete_gandi_zone.json
  libcloud/test/dns/fixtures/gandi_live/delete_record.json
  libcloud/test/dns/test_gandi_live.py
Labels: api: dns, drivers: gandi live

#1394 Add KubeVirt driver & tests
  CHANGES.rst
  libcloud/compute/drivers/kubevirt.py
  libcloud/compute/providers.py
  libcloud/compute/types.py
  libcloud/container/drivers/kubernetes.py
  libcloud/http.py
  libcloud/test/compute/fixtures/kubevirt/_api_v1_namespaces.json
  libcloud/test/compute/fixtures/kubevirt/create_vm.json
  libcloud/test/compute/fixtures/kubevirt/delete_vmi_testvm.json
  libcloud/test/compute/fixtures/kubevirt/get_default_vms.json
  libcloud/test/compute/fixtures/kubevirt/get_kube_node_lease_vms.json
  libcloud/test/compute/fixtures/kubevirt/get_kube_public_vms.json
  libcloud/test/compute/fixtures/kubevirt/get_kube_system_vms.json
  libcloud/test/compute/fixtures/kubevirt/get_kubevirt_vms.json
  libcloud/test/compute/fixtures/kubevirt/get_pods.json
  libcloud/test/compute/fixtures/kubevirt/start_testvm.json
  libcloud/test/compute/fixtures/kubevirt/stop_testvm.json
  libcloud/test/compute/test_kubevirt.py
Labels: api: compute, new driver

#1409 Fix pagination in the "list_nodes()" method in the GCE driver
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/test_gce.py
Labels: api: compute, bug fix, drivers: gce
