Repository apache/libcloud, pull requests merged in 2020-04, with the labels that each got.

#1445 Various deploy_node() fixes and improvements
  CHANGES.rst
  docs/compute/_supported_methods_block_storage.rst
  docs/compute/_supported_methods_image_management.rst
  docs/compute/_supported_methods_key_pair_management.rst
  docs/compute/_supported_methods_main.rst
  docs/compute/_supported_providers.rst
  docs/compute/deployment.rst
  libcloud/compute/base.py
  libcloud/compute/deployment.py
  libcloud/compute/ssh.py
  libcloud/test/compute/fixtures/misc/test_ed25519.key
  libcloud/test/compute/fixtures/misc/test_ed25519.pub
  libcloud/test/compute/fixtures/misc/test_rsa_2048b_pass_foobar.key
  libcloud/test/compute/fixtures/misc/test_rsa_2048b_pass_foobar.pub
  libcloud/test/compute/test_deployment.py
  libcloud/test/compute/test_ssh_client.py
Labels: api: compute, api: compute: ssh, potential 2.8.x candidate

#1444 Fix auto assigning of volume device in OpenStack
  libcloud/compute/drivers/openstack.py
Labels: api: compute, status: needs tests

#1442 Kamatera compute driver
  docs/_static/images/provider_logos/kamatera.png
  docs/compute/_supported_methods_block_storage.rst
  docs/compute/_supported_methods_image_management.rst
  docs/compute/_supported_methods_key_pair_management.rst
  docs/compute/_supported_methods_main.rst
  docs/compute/_supported_providers.rst
  docs/compute/drivers/kamatera.rst
  docs/examples/compute/kamatera/create_node.py
  docs/examples/compute/kamatera/instantiate_driver.py
  docs/examples/compute/kamatera/node_operations.py
  libcloud/compute/drivers/kamatera.py
  libcloud/compute/providers.py
  libcloud/compute/types.py
  libcloud/test/compute/fixtures/kamatera/capabilities_datacenter_EU.json
  libcloud/test/compute/fixtures/kamatera/create_server.json
  libcloud/test/compute/fixtures/kamatera/create_server_sshkey.json
  libcloud/test/compute/fixtures/kamatera/datacenters.json
  libcloud/test/compute/fixtures/kamatera/failed_auth.json
  libcloud/test/compute/fixtures/kamatera/images_datacenter_EU.json
  libcloud/test/compute/fixtures/kamatera/queue_12345-1.json
  libcloud/test/compute/fixtures/kamatera/queue_12345-2.json
  libcloud/test/compute/fixtures/kamatera/queue_12345-3.json
  libcloud/test/compute/fixtures/kamatera/queue_12345-4.json
  libcloud/test/compute/fixtures/kamatera/server_info.json
  libcloud/test/compute/fixtures/kamatera/server_operation.json
  libcloud/test/compute/fixtures/kamatera/servers.json
  libcloud/test/compute/fixtures/kamatera/sizes_datacenter_EU.json
  libcloud/test/compute/test_kamatera.py
  libcloud/test/secrets.py-dist
Labels: api: compute, drivers: kamatera, new driver

#1450 Update list of supported Azure Blob account types
  docs/_static/images/misc/azure_blobs_account_kind.png
  docs/storage/drivers/azure_blobs.rst
Labels: documentation, drivers: azure blobs

#1449 add latest ubuntu image families to gce
  libcloud/compute/drivers/gce.py
Labels: api: compute, drivers: gce
