Repository apache/libcloud, pull requests merged in 2020-08, with the labels that each got.

#1470 Add new file for price scraping for azure arm cloud
  contrib/scrape-azure-prices.py
Labels: drivers: azure, pricing data

#1476 New compute driver OUTSCALE
  libcloud/common/osc.py
  libcloud/compute/drivers/outscale.py
  libcloud/compute/providers.py
  libcloud/compute/types.py
  libcloud/test/common/test_osc.py
Labels: api: compute, drivers: outscale

#1477 Add expose ports through services for VMs, extra ports and services d…
  libcloud/compute/drivers/kubevirt.py
  libcloud/test/compute/fixtures/kubevirt/get_services.json
  libcloud/test/compute/test_kubevirt.py
Labels: api: compute, drivers: kubevirt

#1478 Update lxd driver with networks, storage pools and further refine exi…
  libcloud/container/drivers/lxd.py
  libcloud/test/container/test_lxd.py
Labels: api: container, drivers: lxd
