Repository apache/libcloud, pull requests merged in 2021-02, with the labels that each got.

#1552 Add support for Azure Government to Azure Blobs storage driver
  CHANGES.rst
  docs/examples/storage/azure/instantiate_gov.py
  docs/storage/drivers/azure_blobs.rst
  libcloud/common/base.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/test/storage/test_azure_blobs.py
Labels: api: storage, drivers: azure blobs

#1548 Equinix update
  libcloud/compute/drivers/equinixmetal.py
  libcloud/test/compute/test_equinixmetal.py
Labels: api: compute, drivers: equinix metal

#1543 Minor fix getting description of Ports
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/fixtures/openstack_v1.1/_ports_v2.json
Labels: api: compute, drivers: openstack

#1553 Respect common HTTP headers when uploading Azure Storage blob via stream
  CHANGES.rst
  libcloud/storage/drivers/azure_blobs.py
  libcloud/test/storage/test_azure_blobs.py
Labels: api: storage, drivers: azure blobs

#1549 Make libcloud compliant with the latest Outscale API.
  docs/compute/drivers/outscale.rst
  libcloud/compute/drivers/outscale.py
Labels: api: compute, drivers: outscale

#1555 status RESIZE of node was not implemented
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/test_ovh.py
Labels: api: compute, drivers: ovh
