Repository apache/libcloud, pull requests merged in 2021-05, with the labels that each got.

#1572 Add integration tests for Azure Storage driver
  .github/workflows/main.yml
  integration/README.rst
  integration/compute/README.rst
  integration/compute/__init__.py
  integration/compute/__main__.py
  integration/compute/api/__init__.py
  integration/compute/api/__main__.py
  integration/compute/api/data.py
  integration/compute/api/routes.py
  integration/compute/api/util.py
  integration/compute/config.py
  integration/compute/driver/__init__.py
  integration/compute/driver/test.py
  integration/compute/requirements.txt
  integration/storage/README.rst
  integration/storage/__init__.py
  integration/storage/__main__.py
  integration/storage/base.py
  integration/storage/requirements.txt
  integration/storage/test_azure_blobs.py
  tox.ini
Labels: api: storage, drivers: azure blobs, tests: integration

#1578 Add integration tests for MinIO storage driver
  integration/storage/base.py
  integration/storage/test_minio.py
  libcloud/storage/drivers/s3.py
Labels: api: storage, drivers: minio, tests: integration

#1570 Fix null value in DigitalOcean create a record
  libcloud/dns/drivers/digitalocean.py
Labels: api: dns, drivers: digitalocean

#1569 Support updating allowed_address_pairs on OpenStack ports
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/fixtures/openstack_v1.1/_port_v2.json
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1580 Add integration tests for S3 storage driver
  .github/workflows/integration-tests.yml
  integration/storage/base.py
  integration/storage/requirements.txt
  integration/storage/test_s3.py
  tox.ini
Labels: api: storage, drivers: aws s3, tests: integration
