Repository apache/libcloud, pull requests merged in 2021-11, with the labels that each got.

#1610 Vultr API v2
  libcloud/common/vultr.py
  libcloud/compute/drivers/vultr.py
  libcloud/dns/drivers/vultr.py
  libcloud/test/compute/fixtures/vultr_v2/create_node.json
  libcloud/test/compute/fixtures/vultr_v2/create_node_bare_metal.json
  libcloud/test/compute/fixtures/vultr_v2/create_volume.json
  libcloud/test/compute/fixtures/vultr_v2/ex_create_network.json
  libcloud/test/compute/fixtures/vultr_v2/ex_create_snapshot.json
  libcloud/test/compute/fixtures/vultr_v2/ex_get_network.json
  libcloud/test/compute/fixtures/vultr_v2/ex_get_node.json
  libcloud/test/compute/fixtures/vultr_v2/ex_get_snapshot.json
  libcloud/test/compute/fixtures/vultr_v2/ex_get_volume.json
  libcloud/test/compute/fixtures/vultr_v2/ex_list_available_sizes_for_location.json
  libcloud/test/compute/fixtures/vultr_v2/ex_list_bare_metal_nodes.json
  libcloud/test/compute/fixtures/vultr_v2/ex_list_bare_metal_sizes.json
  libcloud/test/compute/fixtures/vultr_v2/ex_list_networks.json
  libcloud/test/compute/fixtures/vultr_v2/ex_list_snapshots.json
  libcloud/test/compute/fixtures/vultr_v2/ex_resize_node.json
  libcloud/test/compute/fixtures/vultr_v2/get_key_pair.json
  libcloud/test/compute/fixtures/vultr_v2/import_key_pair_from_string.json
  libcloud/test/compute/fixtures/vultr_v2/list_images.json
  libcloud/test/compute/fixtures/vultr_v2/list_images_paginated_1.json
  libcloud/test/compute/fixtures/vultr_v2/list_images_paginated_2.json
  libcloud/test/compute/fixtures/vultr_v2/list_images_paginated_3.json
  libcloud/test/compute/fixtures/vultr_v2/list_key_pairs.json
  libcloud/test/compute/fixtures/vultr_v2/list_locations.json
  libcloud/test/compute/fixtures/vultr_v2/list_nodes.json
  libcloud/test/compute/fixtures/vultr_v2/list_sizes.json
  libcloud/test/compute/fixtures/vultr_v2/list_volumes.json
  libcloud/test/compute/test_vultr.py
  libcloud/test/compute/test_vultr_v2.py
  libcloud/test/dns/fixtures/vultr_v2/create_record.json
  libcloud/test/dns/fixtures/vultr_v2/create_zone.json
  libcloud/test/dns/fixtures/vultr_v2/get_record.json
  libcloud/test/dns/fixtures/vultr_v2/get_zone.json
  libcloud/test/dns/fixtures/vultr_v2/list_records.json
  libcloud/test/dns/fixtures/vultr_v2/list_zones.json
  libcloud/test/dns/test_vultr.py
  libcloud/test/dns/test_vultr_v2.py
Labels: api: compute, drivers: vultr

#1626 Run unit tests with Python 3.10 + Pyjion
  .github/workflows/main.yml
  CHANGES.rst
  requirements-tests.txt
  tox.ini
Labels: ci/cd, tests: unit

#1620 Drop support for Python 3.5
  .github/workflows/main.yml
  CHANGES.rst
  README.rst
  docs/upgrade_notes.rst
  requirements-tests.txt
  setup.py
  tox.ini
Labels: python version compatibility

#1628 Add support for ec2 ap-east-1
  libcloud/compute/constants/ec2_region_details_complete.py
  libcloud/compute/constants/ec2_region_details_partial.py
Labels: api: compute, drivers: ec2
