Repository apache/libcloud, pull requests merged in 2021-03, with the labels that each got.

#1564 Enable auth to Cloudflare DNS via API Tokens
  CHANGES.rst
  docs/dns/drivers/cloudflare.rst
  docs/examples/dns/cloudflare/instantiate_driver_token.py
  libcloud/dns/drivers/cloudflare.py
  libcloud/test/dns/test_cloudflare.py
Labels: api: dns, drivers: cloudflare

#1566 Get accelerators field in the GCE machineType
  CHANGES.rst
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/fixtures/gce/zones_us-central1-a_machineTypes.json
  libcloud/test/compute/test_gce.py
Labels: api: compute, drivers: gce

#1561 Support volume v3 API endpoint in OpenStack driver
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/common/test_openstack_identity.py
  libcloud/test/compute/fixtures/openstack/_v2_0__auth.json
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack
