Repository apache/libcloud, pull requests merged in 2022-09, with the labels that each got.

#1747 GitHub Workflows security hardening
  .github/workflows/codeql-analysis.yml
Labels: github, ci/cd

#1753 Add new pip audit check to Github Actions Workflow
  .github/actions/gh-action-pip-audit/.github/workflows/ci.yml
  .github/actions/gh-action-pip-audit/.github/workflows/selftest.yml
  .github/actions/gh-action-pip-audit/.gitignore
  .github/actions/gh-action-pip-audit/LICENSE
  .github/actions/gh-action-pip-audit/Makefile
  .github/actions/gh-action-pip-audit/README.md
  .github/actions/gh-action-pip-audit/action.py
  .github/actions/gh-action-pip-audit/action.yml
  .github/actions/gh-action-pip-audit/dev-requirements.txt
  .github/actions/gh-action-pip-audit/requirements.txt
  .github/actions/gh-action-pip-audit/setup/setup.bash
  .github/actions/gh-action-pip-audit/setup/venv.bash
  .github/actions/gh-action-pip-audit/test/pyproject/pyproject.toml
  .github/actions/gh-action-pip-audit/test/vulnerable.txt
  .github/workflows/main.yml
  scripts/check_asf_license_headers.py
Labels: github, lint checks

#1736 azure-arm: Add support to create disks in specific availability zones
  libcloud/compute/drivers/azure_arm.py
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_providers_Microsoft_Compute_disks.json
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_resourceGroups_000000_providers_Microsoft_Compute_disks_test_disk_1.json
  libcloud/test/compute/test_azure_arm.py
Labels: api: compute, drivers: azure

#1754 Update development / testing Docker image, add new bandit lint check
  .bandit.yaml
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  .github/workflows/publish_pricing_to_s3.yml
  contrib/Dockerfile
  libcloud/test/storage/test_s3.py
  requirements-tests.txt
  tox.ini
Labels: github, lint checks

#1699 Get GCE image price
  libcloud/pricing.py
  libcloud/test/test_pricing.py
Labels: api: compute, drivers: gce, pricing data

#1744 Azure: Add the ability to use Ultra SSDs
  libcloud/compute/drivers/azure_arm.py
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_providers_Microsoft_Compute_virtualMachines.json
  libcloud/test/compute/test_azure_arm.py
Labels: api: compute, drivers: azure

#1732 Add a new OVH driver for storage
  CHANGES.rst
  docs/storage/_supported_methods_cdn.rst
  docs/storage/_supported_methods_main.rst
  docs/storage/_supported_providers.rst
  libcloud/storage/drivers/ovh.py
  libcloud/storage/providers.py
  libcloud/storage/types.py
  libcloud/test/storage/test_ovh.py
Labels: api: storage, drivers: ovh storage
