Repository apache/libcloud, pull requests merged in 2022-01, with the labels that each got.

#1642 fix #1641: [EC2] Add missing "creation_date" NodeImage extra
  CHANGES.rst
  libcloud/compute/drivers/ec2.py
  libcloud/test/compute/fixtures/ec2/describe_images.xml
  libcloud/test/compute/test_ec2.py
Labels: api: compute, drivers: ec2

#1214 [LIBCLOUD-996] Support GCP service_account authentication from JSON obj/str
  docs/compute/drivers/gce.rst
  docs/dns/drivers/google.rst
  docs/examples/compute/gce/gce_service_account_infile.py
  docs/examples/dns/google/dns_service_account_infile.py
  docs/examples/loadbalancer/gce/gce_service_account_infile.py
  docs/loadbalancer/drivers/gce.rst
  libcloud/common/google.py
  libcloud/test/common/fixtures/google/pkey.json
  libcloud/test/common/fixtures/google/pkey.pem
  libcloud/test/common/test_google.py
Labels: drivers: gce, stale, status: needs tests, status: needs documentation

#1653 Upgrade black to the latest stable version
  libcloud/compute/drivers/azure.py
  libcloud/compute/drivers/openstack.py
  libcloud/compute/drivers/vsphere.py
  libcloud/container/drivers/lxd.py
  libcloud/utils/py3.py
  tox.ini
Labels: code reformat: black
