Repository apache/libcloud, pull requests merged in 2022-05, with the labels that each got.

#1683 Fix crash on missing etag in s3 storage driver
  libcloud/storage/drivers/s3.py
  libcloud/test/conftest.py
Labels: bug fix, api: storage, drivers: google storage

#1681 Add expires condition
  libcloud/dns/drivers/godaddy.py
Labels: api: dns, driver: godaddy dns

#1673 Fix error creating and getting node in OpenStack
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/fixtures/openstack_v1.1/_servers_12064247.json
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1676 Fix #1675: Error in volume api calls if microversion is set in OpenStack
  CHANGES.rst
  libcloud/common/openstack.py
  libcloud/test/common/test_openstack.py
Labels: api: compute, drivers: openstack

#1677 Attach/Detach a Floating IP to an OpenStack node does not work with new versions
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/fixtures/openstack_v1.1/_servers_os_intefaces.json
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack

#1691 Replace 3rd party mock package with unittest.mock package from stdlib
  CHANGES.rst
  docs/testing.rst
  libcloud/test/benchmarks/test_list_objects_filtering_performance.py
  libcloud/test/common/test_aws.py
  libcloud/test/common/test_base.py
  libcloud/test/common/test_base_driver.py
  libcloud/test/common/test_google.py
  libcloud/test/common/test_nfsn.py
  libcloud/test/common/test_openstack.py
  libcloud/test/common/test_openstack_identity.py
  libcloud/test/common/test_retry_limit.py
  libcloud/test/common/test_upcloud.py
  libcloud/test/compute/test_azure_arm.py
  libcloud/test/compute/test_deployment.py
  libcloud/test/compute/test_gce.py
  libcloud/test/compute/test_gig_g8.py
  libcloud/test/compute/test_libvirt_driver.py
  libcloud/test/compute/test_openstack.py
  libcloud/test/compute/test_ovh.py
  libcloud/test/compute/test_ssh_client.py
  libcloud/test/compute/test_vcloud.py
  libcloud/test/dns/test_base.py
  libcloud/test/dns/test_durabledns.py
  libcloud/test/dns/test_zonomi.py
  libcloud/test/storage/test_backblaze_b2.py
  libcloud/test/storage/test_base.py
  libcloud/test/storage/test_cloudfiles.py
  libcloud/test/storage/test_google_storage.py
  libcloud/test/storage/test_oss.py
  libcloud/test/storage/test_s3.py
  libcloud/test/test_connection.py
  libcloud/test/test_init.py
  libcloud/test/test_logging_connection.py
  requirements-tests.txt
  setup.py
Labels: tests

#1693 test: fix test_ssh_client on big-endian architectures
  libcloud/test/compute/test_ssh_client.py
Labels: bug fix, api: compute: ssh, tests: unit

#1685 Fix compatibility with paramiko >= 2.9.0 and older OpenSSH server versions
  CHANGES.rst
  docs/compute/deployment.rst
  docs/upgrade_notes.rst
  libcloud/compute/ssh.py
Labels: api: compute, api: compute: ssh, api: compute: deploy node, api: compute: ssh: paramiko, security

#1695 make content-type header is optional to work with S3 servers that do not support content-type header
  libcloud/storage/drivers/s3.py
Labels: api: storage, drivers: aws s3

#1667 Update Kubernetes driver
  libcloud/container/base.py
  libcloud/container/drivers/kubernetes.py
  libcloud/test/container/fixtures/kubernetes/_api_v1_services.json
  libcloud/test/container/fixtures/kubernetes/_apis_apps_v1_deployments.json
  libcloud/test/container/fixtures/kubernetes/_apis_metrics_k8s_io_v1beta1_nodes.json
  libcloud/test/container/fixtures/kubernetes/_apis_metrics_k8s_io_v1beta1_pods.json
  libcloud/test/container/fixtures/kubernetes/_version.json
  libcloud/test/container/test_kubernetes.py
Labels: api: container, drivers: kubernetes

#1697 tests: add way to skip tests that require access to the network/Internet
  libcloud/test/__init__.py
  libcloud/test/compute/test_ovh.py
  libcloud/test/test_connection.py
  libcloud/test/test_http.py
Labels: tests, tests: unit

#1663 Authenticate with Azure Ad for Provider AZURE_BLOBS
  docs/examples/storage/azure/instantiate_azure_ad.py
  docs/storage/drivers/azure_blobs.rst
  libcloud/common/azure.py
  libcloud/storage/drivers/azure_blobs.py
  libcloud/test/storage/fixtures/azure_blobs/_77777777_7777_7777_7777_777777777777_oauth2_token.json
  libcloud/test/storage/test_azure_blobs.py
Labels: drivers: azure, drivers: azure blobs

#1701 Update EC2 driver so it doesn't throw when "list_image()" method is called and an image doesn't contain creation date attribute
  CHANGES.rst
  libcloud/compute/drivers/ec2.py
  libcloud/test/compute/fixtures/ec2/describe_images.xml
  libcloud/test/compute/test_ec2.py
  libcloud/utils/iso8601.py
Labels: bug fix, api: compute, drivers: ec2
