Repository apache/libcloud, pull requests merged in 2022-03, with the labels that each got.

#1656 Add support for eu-south-1 in EC2 and VCloud accept version
  CHANGES.rst
  contrib/scrape-ec2-prices.py
  contrib/scrape-ec2-sizes.py
  libcloud/compute/constants/ec2_instance_types.py
  libcloud/compute/constants/ec2_region_details_complete.py
  libcloud/compute/constants/ec2_region_details_partial.py
  libcloud/data/pricing.json
  libcloud/test/compute/test_ec2.py
Labels: api: compute, drivers: ec2

#1648 Enable to set microversion in OpenStack driver
  docs/compute/drivers/openstack.rst
  libcloud/common/openstack.py
  libcloud/test/common/test_openstack.py
Labels: api: compute, drivers: openstack

#1660 Fix OpenStack authentication regressions
  CHANGES.rst
  libcloud/common/openstack_identity.py
  libcloud/test/compute/test_openstack.py
Labels: bug fix, drivers: openstack

#1662 GCE: Retrieve regions & zones lazily, closes #1661
  libcloud/compute/drivers/gce.py
  libcloud/test/compute/test_gce.py
Labels: drivers: gce

#1664 Enable Retrying of Raw Requests parse_error
  .gitignore
  libcloud/common/base.py
  libcloud/storage/base.py
  libcloud/test/storage/test_base.py
  libcloud/test/storage/test_local.py
  libcloud/test/test_connection.py
Labels: api: http layer
