Repository apache/libcloud, pull requests merged in 2023-08, with the labels that each got.

#1904 Bump DISK_API_VERSION for Premium v2 SSDs
  libcloud/compute/drivers/azure_arm.py
Labels: api: compute, drivers: azure arm

#1924 Replace "skip-duplicate-action" GHA jobs pre-check with native GHA concurrency functionality
  .github/actions/README.md
  .github/actions/skip-duplicate-actions/.eslintignore
  .github/actions/skip-duplicate-actions/.eslintrc.json
  .github/actions/skip-duplicate-actions/.gitattributes
  .github/actions/skip-duplicate-actions/.github/FUNDING.yml
  .github/actions/skip-duplicate-actions/.github/dependabot.yml
  .github/actions/skip-duplicate-actions/.github/workflows/check-dist.yml
  .github/actions/skip-duplicate-actions/.github/workflows/test.yml
  .github/actions/skip-duplicate-actions/.gitignore
  .github/actions/skip-duplicate-actions/.prettierignore
  .github/actions/skip-duplicate-actions/.prettierrc.json
  .github/actions/skip-duplicate-actions/LICENSE
  .github/actions/skip-duplicate-actions/README.md
  .github/actions/skip-duplicate-actions/action.yml
  .github/actions/skip-duplicate-actions/dist/index.js
  .github/actions/skip-duplicate-actions/package-lock.json
  .github/actions/skip-duplicate-actions/package.json
  .github/actions/skip-duplicate-actions/src/main.ts
  .github/actions/skip-duplicate-actions/tsconfig.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/depsreview.yaml
  .github/workflows/install_test.yml
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  .github/workflows/publish_dev_artifact.yml
  .github/workflows/publish_pricing_to_s3.yml
Labels: ci/cd, github_actions

#1925 Remove deprecated and unused ApiDocs command from setup.py
  setup.py
Labels: setupy metadata, packaging

#1926 Fix tox dist install checks
  .github/workflows/main.yml
  scripts/dist_install_check.sh
  scripts/dist_wheel_install_check.sh
Labels: lint checks, lint checks: dist install

#1928 Also run unit tests under PyPy 3.8
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  .github/workflows/publish_pricing_to_s3.yml
  README.rst
  requirements-ci.txt
Labels: tests: unit, python implementation: pypy

#1891 Fix list_volumes in the Azure arm driver
  libcloud/compute/drivers/azure_arm.py
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_providers_Microsoft_Compute_disks.json
  libcloud/test/compute/fixtures/azure_arm/_subscriptions_99999999_providers_Microsoft_Compute_disks_1.json
  libcloud/test/compute/test_azure_arm.py
Labels: api: compute, drivers: azure arm

#1929 Migrate from setup.py to pyproject.toml
  .github/workflows/main.yml
  CHANGES.rst
  MANIFEST.in
  NOTICE
  contrib/migrate_paths.sh
  contrib/pre-commit.sh
  dist/deploy.sh
  dist/release.sh
  dist/sign.sh
  dist/verify_checksums.sh
  docs/committer_guide.rst
  docs/copyright.rst
  docs/testing.rst
  libcloud/__init__.py
  pyproject.toml
  requirements-tests.txt
  scripts/dist_install_check.sh
  scripts/dist_wheel_install_check.sh
  setup.py
  tox.ini
Labels: setupy metadata

#1933 Update changelog documentation file to link to Github and Jira issues
  CHANGES.rst
  docs/conf.py
  requirements-docs.txt
  tox.ini
Labels: documentation, tool: sphinx

#1937 Sphinx API docs improvements
  .github/workflows/main.yml
  docs/conf.py
  tox.ini
Labels: documentation, api documentation, readthedocs
