Repository apache/libcloud, pull requests merged in 2023-09, with the labels that each got.

#1940 Fix inappropriate length comparison
  libcloud/common/nttcis.py
Labels: api: common, status: needs tests, driver: nttcis

#1950 S3 eu south
  libcloud/storage/drivers/s3.py
Labels: api: compute, drivers: ec2

#1946 Updated Linode (Akamai Connected Cloud) support (including cloud-init)
  CHANGES.rst
  docs/compute/_supported_methods_image_management.rst
  docs/compute/_supported_methods_key_pair_management.rst
  docs/upgrade_notes.rst
  libcloud/compute/drivers/linode.py
  libcloud/test/compute/fixtures/linode_v4/create_key_pair.json
  libcloud/test/compute/fixtures/linode_v4/list_key_pairs.json
  libcloud/test/compute/test_linode_v4.py
Labels: api: compute, status: needs tests, drivers: linode

#1954 Add VPC IP and Elastic IP to ECS node as private and public IP
  libcloud/compute/drivers/ecs.py
  libcloud/test/compute/fixtures/ecs/describe_instances.xml
  libcloud/test/compute/test_ecs.py
Labels: api: compute, driver: aliyun ecs
