Repository apache/libcloud, pull requests merged in 2025-03, with the labels that each got.

#2054 Improve build + dist install checks
  pyproject.toml
  scripts/dist_install_check.sh
  scripts/dist_wheel_install_check.sh
Labels: build

#2033 Only call super() during MockHttp if required
  CHANGES.rst
  libcloud/test/__init__.py
  requirements-tests.txt
Labels: tests, tests: pytest

#2055 Update dev dependencies, fix typos
  .github/workflows/publish_dev_artifact.yml
  libcloud/common/openstack.py
  libcloud/common/openstack_identity.py
  libcloud/compute/base.py
  libcloud/compute/deployment.py
  libcloud/compute/drivers/ec2.py
  libcloud/compute/drivers/gce.py
  libcloud/compute/drivers/kubevirt.py
  libcloud/compute/drivers/outscale.py
  libcloud/compute/drivers/vcloud.py
  libcloud/compute/drivers/vsphere.py
  libcloud/compute/ssh.py
  libcloud/container/drivers/lxd.py
  libcloud/http.py
  libcloud/storage/drivers/cloudfiles.py
  libcloud/test/common/test_openstack_identity.py
  libcloud/test/compute/test_openstack.py
  libcloud/test/compute/test_ssh_client.py
  requirements-ci.txt
  requirements-lint.txt
Labels: lint checks

#2032 rcodezero: fix documentation
  docs/dns/drivers/rcodezero.rst
Labels: documentation, api documentation

#2024 Add new CI job which builds the release artifact, remove MANIFEST.in
  .github/workflows/main.yml
  .gitignore
  CHANGES.rst
  MANIFEST.in
  dist/deploy.sh
  dist/verify_checksums.sh
  docs/testing.rst
  pyproject.toml
  setup.py
Labels: ci/cd, github_actions

#2028 Enable to specify port in OpenStack ex_attach_floating_ip_to_node #2027
  CHANGES.rst
  libcloud/compute/drivers/openstack.py
  libcloud/test/compute/test_openstack.py
Labels: api: compute, drivers: openstack
